
<footer>
    <div class="d-flex justify-content-between dev-socials">
        <a href="https://www.linkedin.com/in/husain-shahid-rao-808048204/">Linkedin</a>
        <a href="https://github.com/husain3012">Github</a>
        <a href="https://www.instagram.com/_husain_3012/">Instagram</a>
    </div>
    <div class="copyright">© 2021 Husain</div>
    
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>

<script src="/js/main.js"></script>

</body>
</html>