<%- include('partials/header') %>

<div class="d-flex justify-content-center full-height">
    <h1 class=" align-self-center centered animate__animated animate__headShake">We dont have the page you are looking for :(</h1>
</div>

<%- include('partials/footer') %>
