<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Login/Register</h1>

  <div class="card-body login-signup">
    <!-- Makes POST request to /register route -->
    <% if(failed){ %>
    <p class="red-alert">Invalid login details, please try again.</p>
    <% } %>
    <form action="/login" method="POST" onsubmit="return validateForm()">
      <div class="form-group">
        <input required type="text" class="input-text form-control" placeholder="Username" name="username" />
      </div>
      <div class="form-group">
        <input required type="password" class="input-text form-control" id="password" placeholder="Password" name="password" />
      </div>
      <div class="login-signup-btn d-flex justify-content-star\">
        <button type="submit" class="btn">Login</button>
        <div class="vertical-line"></div>
        <a class="btn" href="/register">Sign Up</a>
      </div>
      <!-- <p>Don't have an account? <a href="/register">Sign up here.</a></p> -->
    </form>
  </div>
</div>

<%- include('partials/footer') %>
