<%- include('partials/header') %>


<div class=" container mt-5">
    <h1 id="message-send-confirmation" class="animate__animated animate__delay-2s animate__fadeInRight">Message sent successfully🥳</h1> 
</div>
<script type="text/JavaScript">

document.getElementById("message-send-confirmation").addEventListener('animationend', ()=>{
    document.getElementById("message-send-confirmation").classList.remove("animate__fadeIn")

    document.getElementById("message-send-confirmation").classList.add("animate__fadeOutRight")
})
 setTimeout(function () {
       window.location.href = "/"; 
    }, 3000);
</script>
<%- include('partials/footer') %>
