:root{
    --black: #231E23;
    --green: #39A6A3;
    --light-green: #DEEEEA;
    --pink: #BF1363;
    --red: #D83A56;
    --light-grey: #393E46;
    --blue0: #E8F0F2;
    --blue1: #A2DBFA;
    --blue2: #39A2DB;
    --blue3: #053742;
}

body{
    background-color: var(--blue0);
 
}
h1{
    color: var(--blue2);
}
textarea{
    width:100%
}
.navbar{
    background-color:var(--blue0);
    
}
.navbar-brand{
    font-family: 'Nothing You Could Do', cursive;
    color: var(--blue2);
    font-weight: 900;
    font-size:2rem;

    
}
.navbar-hr{
    height: 2px;
    margin: 0 auto;
    background-color: var(--blue2)
}
.hidden{
  display: none;

}

.red-alert{
    color: var(--red);
  
}

.card-body{
    background-color:var(--light-green);
}
.btn{
    background-color:var(--light-grey);
    color: white;
    transition: 0.3s;

}
.btn:hover{
    background-color:var(--green);
    color: white;
    transition: 0.3s;
}
.full-height{
    height:98vh;
}