:root {
  --black: #231e23;
  --green: #39a6a3;

  --pink: #bf1363;
  --red: #d83a56;
  --light-grey: #393e46;
  --blue0: #e8f0f2;
  --blue1: #a2dbfa;
  --blue2: #39a2db;
  --blue3: #053742;
}

body {
  background-color: var(--blue0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  color: var(--blue2);
  font-family: "Open Sans", sans-serif;
}
a {
  color: inherit;
}
textarea {
  width: 100%;
}
.navbar {
  background-color: var(--blue0);
}
.navbar-brand {
  font-family: "Nothing You Could Do", cursive;
  color: var(--blue2);
  font-weight: 900;
  font-size: 1.7rem;
  margin-left: 10px;
}
hr.navbar-hr{
    border: none;
  height: 2px;
  width:100%;
  margin: 0 auto;
 
  background-color: var(--blue2);
}


.hidden {
  display: none;
}

.red-alert {
  color: var(--red);
}
.card {
  border-style: none;
}
.card-body {
  background-color: #f4f9f9;
}
.login-signup {
  background-image: url("/images/city-bg.jpg");
  background-size: cover;
  max-width: 480px;
}
.btn {
  background-color: var(--blue2);
  color: white;
  transition: 0.3s;
  border-radius: 20px;
}
.btn:hover {
  background-color: var(--blue3);
  color: white;
  transition: 0.3s;
}
.reaction-buttons button.btn{
    background-color:transparent;
    color: black;
    transition: 0.2s;
    
}
.reaction-buttons button.btn:hover{
    color: var(--red);
    transition: 0.2s;
}

.full-height {
  height: 98vh;
}

.form-group {
  margin: 10px auto;
}
.form-group input {
  border: 1px solid var(--blue0);
  border-radius: 10px;
}
.slogan {
  margin: 1rem 2rem;
  text-align: center;
  color: var(--blue2);
}

.underlined {
  text-decoration: underline;
}

#logout-btn {
  position: fixed;
  z-index: 1200;
  right: 0;
  border-radius: 10px 0 0 10px;
  padding: 5px;
  width: 40px;
  opacity: 0.75;
}
.login-signup-btn a {
    background-color:grey;
}
.vertical-line {
  margin: 0 1rem;
  border-style: none none none solid;
  border-width: 1px;
  border-color: white;
}

.share-url {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 1rem auto;
}
.share-url .social-share a {
  margin: 0 1rem;
}

.confession {
  border-radius: 10px;
  margin: 1rem auto;
}
.confession p{
    max-width: 75%;
}
.confession .reaction-buttons{
    
}

footer {
  background-color: var(--blue3);
  color: white;
  margin-top: auto;
  padding: 1.5rem 1rem;
}
footer .dev-socials {
  margin: auto;

  max-width: 50ch;
}
footer .dev-socials a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  transition: 0.2s;
}
footer .dev-socials a:hover {
  color: var(--blue1);
  transition: 0.2s;

}
footer .copyright {
  font-family: "Open Sans", sans-serif;
  margin: auto;
  max-width: fit-content;
  margin-top: 1rem;
}
